/* app css stylesheet */

body {
    background: url("../img/bg-img.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-brand {
    color:#276212;
    text-shadow: 0px 0px #000;
}


.navbar {
    background:#fff;
}

.navbar-nav li a {
    color:#000;
}



.bg-white {
    background-color: #fff;
}

.bg-white-tr {
    background: rgba(255,255,255,.8);
}


.bg-grey {
    background:rgba(150,150,150,.6);
}

.bg-black {
    background:rgba(0,0,0,.8);
}

.text-white {
    color:#fff;
}
.text-green {
    color:#276212;
}

.no-padding {
    padding:0;
}
.padding-sm {
    padding:5px;
}

.padding-md {
    padding:8px;
}

.padding-lg {
    padding:15px;
}