<div class="entry-img">
    <div class="container">
        <div class="jumbotron text-center" style="background:none">
            <h1 class="fancy-text">CorpersWee</h1>
            <p>Uniting the corpers, uplifting the nation.</p>
        </div>
    </div>
</div>


<div class="bg-white">
    <div class="container">
        <hr>
        <div class="row text-center">
            <div class="col-md-4 padding-lg">
                <div class="tile padding-md">
                    <h4 class="">Place Reviews</h4>
                    <div class="tile-img">
                        <i class="fa fa-star fa-5x"></i>
                    </div>
                    <p class="">
                        Make/Get reviews of your favorite places and locations.
                    </p>
                </div>
            </div>
            <div class="col-md-4 padding-lg">
                <div class="tile padding-md">
                    <h4 class="">Accommodation Search</h4>
                    <div class="tile-img">
                        <i class="fa fa-home fa-5x"></i>
                    </div>
                     <p class="">
                        Search for accommodations. Post available accommodations
                    </p>
                </div>
            </div>
            <div class="col-md-4 padding-lg">
                 <div class="tile padding-md">
                    <h4 class="">Connect</h4>
                    <div class="tile-img">
                        <i class="fa fa-connectdevelop fa-5x"></i>
                    </div>
                     <p class="">
                        Connect with other corpers. Find corpers in your 
                        area and meet up!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-white text-justify padding-lg"> 
                <h4 class="text-center text-white"><i class="fa fa-star"></i> Place Review</h4>
                <p class="text-center">
                    Do you have any cool place at your PPA?, Have you had a bad
                    experience at any place which you'll like corpers to avoid. Post those
                    places and make review of such!
                </p>
                <p>
                    Are you a corper in a new environment and you need to find the best 
                    places around? Search here to get the best places in your environment.
                </p>
            </div>
             <div class="col-md-4 padding-lg text-justify text-center text-white">
                  <h4 class="text-center text-white"><i class="fa fa-home"></i> Accommodation Search</h4>
                <p class="">
                    Corpers are often faced with the challenge of transporting bought items back
                    to their various homes. Most times, corpers would prefer to sell these items
                    but don't have any buyer.
                </p>
                <p>
                    On the other hand, incoming corpers have to get stuff needed for their
                    service year but the challenge is buying items which you might not be able to 
                    take back home.
                </p>
                <p>
                    Outgoing corpers can connect with incoming corpers and plan transfer of items and 
                    accommodation. Everyone is happy!
                </p>
            </div>
             <div class="col-md-4 text-white text-justify padding-lg">
                  <h4 class="text-center text-white"><i class="fa fa-connectdevelop"></i> Connect</h4>
                <p class="text-center">
                    Corpers posted to certain places often happen to be lonely
                    and without other corpers around.Meanwhile, there are other corpers around 
                    experiencing similar challenge. You can find corpers around here.
                </p>
                <p>
                    Also, Corp members can organize events/get togethers or outings here and other
                    corpers nearby can be involved.
                </p>
            </div>
        </div>
    </div>
</div>