<!--pls delete this if its not needed-->
<div class="container" style="border:1px solid #000;">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Category <span class="sr-only">(current)</span></a>
                    <ul class="nav">
                        <li><a href="">State</a></li>
                        <li><a href="">L.G.A</a></li>
                        <li><a href="">Town</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav nav-sidebar">
                <li class=""><a href="" ui-sref="corperwee.addPlace">Add New Place</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div ui-view></div>
        </div>
    </div>   
</div>

