<div class="row">
    <div class="col-xs-1 col-lg-2"></div>
    <div class="col-xs-10 col-lg-8">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Update Place : {{place.name}}</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="https://placeholdit.imgix.net/~text?txtsize=16&bg=118800&txt=171%C3%97171&w=171&h=171"
                                 alt="...">
                        </a>
                    </div>
                    <div class="col-xs-9">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">Place Details</h3>
                            </div>
                            <div class="panel-body">
                                <form name="updatePlaceForm" class="form-horizontal" novalidate>
                                    <div ng-show="failedAction" class="alert alert-danger fade in"
                                         id="updatePlacefailurealert">
                                        <h4>{{errorMessage}}</h4>
                                    </div>
                                    <div class="form-group has-feedback"
                                         ng-class="{'has-error' : updatePlaceForm.name.$dirty && updatePlaceForm.name.$invalid, 'has-success' : updatePlaceForm.name.$dirty && updatePlaceForm.name.$valid}">
                                        <label class="col-md-3 control-label">Name:</label>

                                        <div class="col-md-9">
                                            <input type="text" name="name" ng-required="true" ng-minlength="2"
                                                   ng-maxlength="20" class="form-control" id="updatePlace.name"
                                                   placeholder="Name" ng-model="place.name">
                                            <span class="glyphicon glyphicon-ok form-control-feedback"
                                                  aria-hidden="true"
                                                  ng-show="updatePlaceForm.name.$dirty && updatePlaceForm.name.$valid"></span>
                                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                                  aria-hidden="true"
                                                  ng-show="updatePlaceForm.name.$dirty && updatePlaceForm.name.$invalid"></span>
                                            <span class="sr-only">(success)</span>
                                            <span class="help-block"
                                                  ng-show="updatePlaceForm.name.$dirty && updatePlaceForm.name.$error.required">Firstname cannot be empty</span>
                                            <span class="help-block"
                                                  ng-show="updatePlaceForm.name.$dirty && updatePlaceForm.name.$error.minlength">FirstName must be more than 5 characters</span>
                                            <span class="help-block"
                                                  ng-show="updatePlaceForm.name.$dirty && updatePlaceForm.name.$error.maxlength">Firstname must not exceed 20 characters</span>
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback"
                                         ng-class="{'has-error' : updatePlaceForm.website.$dirty && updatePlaceForm.website.$invalid, 'has-success' : updatePlaceForm.website.$dirty && updatePlaceForm.website.$valid}">
                                        <label class="col-md-3 control-label">Website:</label>

                                        <div class="col-md-9">
                                            <input name="website" ng-required="true" ng-minlength="5" ng-maxlength="20"
                                                   type="text" class="form-control" id="updatePlace.website"
                                                   placeholder="Website: eg kolawole.com" ng-model="place.website">
                                            <span class="glyphicon glyphicon-ok form-control-feedback"
                                                  aria-hidden="true"
                                                  ng-show="updatePlaceForm.website.$dirty && updatePlaceForm.website.$valid"></span>
                                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                                  aria-hidden="true"
                                                  ng-show="updatePlaceForm.website.$dirty && updatePlaceForm.website.$invalid"></span>
                                            <span class="sr-only">(success)</span>
                                            <span class="help-block"
                                                  ng-show="updatePlaceForm.website.$dirty && updatePlaceForm.website.$error.required">LastName cannot be empty</span>
                                            <span class="help-block"
                                                  ng-show="updatePlaceForm.website.$dirty && updatePlaceForm.website.$error.minlength">LastName must be more than 5 characters</span>
                                            <span class="help-block"
                                                  ng-show="updatePlaceForm.website.$dirty && updatePlaceForm.website.$error.maxlength">Lasttname must not exceed 20 characters</span>
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback"
                                         ng-class="{'has-error' : updatePlaceForm.email.$dirty && updatePlaceForm.email.$invalid, 'has-success' : updatePlaceForm.email.$dirty && updatePlaceForm.email.$valid}">
                                        <label class="col-md-3 control-label">Email:</label>

                                        <div class="col-md-9">
                                            <input name="email" type="email" ng-required="true" required="true"
                                                   class="form-control" id="updatePlace.email"
                                                   placeholder="Email Address" ng-model="place.email">
                                            <span class="glyphicon glyphicon-ok form-control-feedback"
                                                  aria-hidden="true"
                                                  ng-show="updatePlaceForm.email.$dirty && updatePlaceForm.email.$valid"></span>
                                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                                  aria-hidden="true"
                                                  ng-show="updatePlaceForm.email.$dirty && updatePlaceForm.email.$invalid"></span>
                                            <span class="sr-only">(success)</span>
                                            <span class="help-block"
                                                  ng-show="updatePlaceForm.email.$dirty && updatePlaceForm.email.$error.required">Email cannot be empty</span>
                                            <span class="help-block"
                                                  ng-show="updatePlaceForm.email.$dirty && updatePlaceForm.email.$error.email">Invalid Email</span>
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback"
                                         ng-class="{'has-error' : updatePlaceForm.phoneNumber.$dirty && updatePlaceForm.phoneNumber.$invalid, 'has-success' : updatePlaceForm.phoneNumber.$dirty && updatePlaceForm.phoneNumber.$valid}">
                                        <label class="col-md-3 control-label"><span
                                                class="text-nowrap">Phone Number:</span></label>

                                        <div class="col-md-9">
                                            <input name="phoneNumber" type="tel" class="form-control"
                                                   id="updatePlace.phoneNumber" placeholder="Phone number here"
                                                   ng-model="place.phoneNumber"
                                                   ng-maxlength="11" ng-minlength="11"
                                                   required="true" ng-required="true" ng-pattern="phoneNumberRegex">
                                            <span class="glyphicon glyphicon-ok form-control-feedback"
                                                  aria-hidden="true"
                                                  ng-show="updatePlaceForm.phoneNumber.$dirty && updatePlaceForm.phoneNumber.$valid"></span>
                                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                                  aria-hidden="true"
                                                  ng-show="updatePlaceForm.phoneNumber.$dirty && updatePlaceForm.phoneNumber.$invalid"></span>
                                            <span class="sr-only">(success)</span>
                                            <span class="help-block"
                                                  ng-show="updatePlaceForm.phoneNumber.$dirty && updatePlaceForm.phoneNumber.$error.required">Phone number cannot be empty</span>
                                            <span class="help-block"
                                                  ng-show="updatePlaceForm.phoneNumber.$dirty && updatePlaceForm.phoneNumber.$invalid">Invalid Phone Number: Must be 11 digits</span>
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label class="col-md-3 control-label">Category:</label>

                                        <div class="col-md-9">
                                            <select name="category" ng-model="place.category"
                                                    ng-options="category.description for category in categories track by category.id"
                                                    id="updatePlace.category" class="form-control"
                                                    ng-required="true">
                                            </select>
                                            <pre>{{place.category}}</pre>
                                            <span class="help-block text-danger"
                                                  ng-show="updatePlaceForm.category.$dirty && updatePlaceForm.category.$error.required">
                                                Please a category must be selected
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label class="col-md-3 control-label">State:</label>

                                        <div class="col-md-9">
                                            <select name="state" id="updatePlace.state" class="form-control"
                                                    ng-model="place.state"
                                                    ng-required="true">
                                                <!--ng-options="state.name as state.name for state in states"-->
                                                <option value="" selected>Please select a State</option>
                                                <option value="lagos">Lagos</option>
                                                <option value="anambra">Anambra</option>
                                            </select>
                                                <span class="help-block text-danger"
                                                      ng-show="updatePlaceForm.state.$dirty && updatePlaceForm.state.$error.required">
                                                    Please a state must be selected
                                                </span>
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label class="col-md-3 control-label">L.G.A:</label>

                                        <div class="col-md-9">
                                            <select name="lga" id="updatePlace.lga" class="form-control"
                                                    ng-model="place.lga" ng-required="true">
                                                <option value="">Please select a LGA</option>
                                                <option value="awka-south">Awka-South</option>
                                                <option value="awka-north">Awka-North</option>
                                            </select>
                                            <span class="help-block text-danger"
                                                  ng-show="updatePlaceForm.lga.$dirty && updatePlaceForm.lga.$error.required">
                                                    Please a lga must be selected
                                                </span>
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label class="col-md-3 control-label">Town:</label>

                                        <div class="col-md-9">
                                            <select id="updatePlace.town" class="form-control" ng-model="place.town"
                                                    name="town" ng-required="true">
                                                <option value="">Please select a Town</option>
                                                <option value="amawbia">AMAWBIA</option>
                                                <option value="unizik">UNIZIK</option>
                                            </select>
                                            <span class="help-block text-danger"
                                                  ng-show="updatePlaceForm.town.$dirty && updatePlaceForm.town.$error.required">
                                                    Please a town must be selected
                                                </span>
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback"
                                         ng-class="{'has-error' : updatePlaceForm.direction.$dirty && updatePlaceForm.direction.$invalid, 'has-success' : updatePlaceForm.direction.$dirty && updatePlaceForm.direction.$valid}">
                                        <label class="col-md-3 control-label">Directions:</label>

                                        <div class="col-md-9">
                                            <textarea class="form-control" rows="3"
                                                      id="updatePlace.direction"
                                                      placeholder="Pls Add directions (Optional)"
                                                      ng-model="place.direction"
                                                      name="direction">
                                            </textarea>
                                        </div>
                                    </div>
                                </form>
                                <!--<pre>{{place | json}}</pre>-->
                                <a class="btn btn-primary" ng-disabled="updatePlaceForm.$invalid" id="updatePlace-btn"
                                   ng-click="updatePlace()"
                                   ladda="updatePlaceLoading" data-style="expand-right">
                                    {{updatePlaceButtonText}}
                                </a>
                                <button class="btn btn-success" ng-click="reset()">Reset Changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-1 col-lg-2"></div>
</div>
