<div class="row">
    <div class="col-xs-1 col-lg-2"></div>
    <div class="col-xs-10 col-lg-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{place.name}} Profile</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="https://placeholdit.imgix.net/~text?txtsize=16&bg=118800&txt=171%C3%97171&w=171&h=171"
                                 alt="...">
                        </a>
                    </div>
                    <div class="col-xs-9">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{place.name}} Details</h3>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Name:</label>

                                        <div class="col-md-9">
                                            <p class="form-control-static">{{place.name}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Website:</label>

                                        <div class="col-md-9">
                                            <p class="form-control-static"><a ng-href="'http://' + place.website"
                                                                              target="_blank"></a>{{place.website}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Email:</label>

                                        <div class="col-md-9">
                                            <p class="form-control-static">{{place.email}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Phone Number:</label>

                                        <div class="col-md-9">
                                            <p class="form-control-static">{{place.phoneNumber}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label"><span
                                                class="text-nowrap">Phone Number:</span></label>

                                        <div class="col-md-9">
                                            <p class="form-control-static">{{place.phoneNumber}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Category:</label>

                                        <div class="col-md-9">
                                            <p class="form-control-static">{{place.category}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">State:</label>

                                        <div class="col-md-9">
                                            <p class="form-control-static">{{place.state | uppercase}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">L.G.A:</label>

                                        <div class="col-md-9">
                                            <p class="form-control-static">{{place.lga | uppercase}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Town:</label>

                                        <div class="col-md-9">
                                            <p class="form-control-static">{{place.town | uppercase}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Direction:</label>

                                        <div class="col-md-9">
                                            <p class="form-control-static">{{place.direction | uppercase}}</p>
                                        </div>
                                    </div>
                                </form>
                                <pre>{{place | json}}</pre>
                                <a class="btn btn-primary" ui-sref="corperwee.updatePlace({place : place.id})"
                                   ng-show="updateButton">Update Place</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <review></review>
            <!-- if the logged in user has not reviewed this place, then show this -->
            <review></review>
            <!-- if the logged in user has a review for this place, then show it here -->
            <review></review>
            <!-- loop through all the reviews for this place -->
        </div>
        <!-- reviews -->
    </div>
    <div class="col-xs-1 col-lg-2"></div>
</div>