<div class="container-fluid">
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <h6>Copyright &copy; 2016 @ajibigad</h6>
                </div>
                <div class="col-sm-4">
                    <h6>About Us</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consequuntur dicta molestias odio, sapiente sit tenetur unde? Amet eius, error impedit, incidunt ipsa maiores minus necessitatibus placeat reprehenderit tempore, veritatis?</p>
                </div>
                <div class="col-sm-2">
                    <h6>Locations</h6>
                    <ul class="list-unstyled">
                        <li><a href="">Lagos</a></li>
                        <li><a href="">Benin</a></li>
                        <li><a href="">Edo</a></li>
                        <li><a href="">Lafia</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h6>Follow Me</h6>
                    <ul class="list-unstyled">
                        <li><a href="">Twitter</a></li>
                        <li><a href="">Facebook</a></li>
                        <li><a href="">Google</a> <sup>+</sup></li>
                        <li><a href="">Instagram</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h6>Coded with <span class="glyphicon glyphicon-heart"></span> by ajibigad</h6>
                </div>
            </div>
        </div>
    </footer><!-- end footer -->
</div>
