<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- i need to fix this nav brand and the toggle button to work and display as appropriate on a mobile view-->
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="img/logo.png" alt="Your Logo"></a>
        </div>

        <!--<a class="navbar-brand" href="#"><img src="images/logo.png" alt="Your Logo"></a>-->
        <div class="collapse navbar-collapse  navbar-responsive-collapse" id="main-navbar">
            <form class="navbar-form navbar-right">
                <div class="form-inline">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signInModal">SIGN
                        IN
                    </button>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#signUpModal">
                        SIGN UP
                    </button>
                </div>
            </form>

            <!-- Sign Up Modal -->
            <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" ng-controller="SignUpController">
                        <!-- the sign up controller would stay here -->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="signUpModalLabel">Please Fill your Details</h4>
                        </div>
                        <div class="modal-body">
                            <form name="signUpForm" novalidate>
                                <div ng-show="failedSignUp" class="alert alert-danger fade in unhide"
                                     id="signupfailurealert">
                                    <button type="button" class="close" ng-click="failedSignUp=false">&times;</button>
                                    <h4>{{errorHeader}}</h4>
                                    <p>{{errorMessage}}</p>
                                </div>
                                <div class="form-horizontal">
                                    <div class="form-group has-feedback"
                                         ng-class="{'has-error' : signUpForm.firstname.$touched && signUpForm.firstname.$invalid, 'has-success' : signUpForm.firstname.$touched && signUpForm.firstname.$valid}">
                                        <label for="signup.firstname" class="col-xs-2">First Name</label>

                                        <div class="col-xs-10">
                                            <input type="text" name="firstname" ng-required="true" ng-minlength="2"
                                                   ng-maxlength="20" class="form-control" id="signup.firstname"
                                                   placeholder="First Name" ng-model="newUser.firstname">

                                            <div ng-show="signUpForm.firstname.$touched">
                                                <span class="glyphicon glyphicon-ok form-control-feedback"
                                                      aria-hidden="true"
                                                      ng-show="signUpForm.firstname.$valid"></span>
                                                <span class="glyphicon glyphicon-remove form-control-feedback"
                                                      aria-hidden="true"
                                                      ng-show="signUpForm.firstname.$invalid"></span>
                                                <span class="sr-only">(success)</span>
                                                <span class="help-block"
                                                      ng-show="signUpForm.firstname.$error.required">Firstname cannot be empty</span>
                                                <span class="help-block"
                                                      ng-show="signUpForm.firstname.$error.minlength">FirstName must be more than 5 characters</span>
                                                <span class="help-block"
                                                      ng-show="signUpForm.firstname.$error.maxlength">Firstname must not exceed 20 characters</span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group has-feedback"
                                         ng-class="{'has-error' : signUpForm.lastname.$touched && signUpForm.lastname.$invalid, 'has-success' : signUpForm.lastname.$touched && signUpForm.lastname.$valid}">
                                        <label for="signup.lastname" class="col-xs-2">Last Name</label>

                                        <div class="col-xs-10">
                                            <input name="lastname" ng-required="true" ng-minlength="5" ng-maxlength="20"
                                                   type="text" class="form-control" id="signup.lastname"
                                                   placeholder="Last Name" ng-model="newUser.lastname">

                                            <div ng-show="signUpForm.lastname.$touched">
                                                <span class="glyphicon glyphicon-ok form-control-feedback"
                                                      aria-hidden="true"
                                                      ng-show="signUpForm.lastname.$valid"></span>
                                                <span class="glyphicon glyphicon-remove form-control-feedback"
                                                      aria-hidden="true"
                                                      ng-show="signUpForm.lastname.$invalid"></span>
                                                <span class="sr-only">(success)</span>
                                                <span class="help-block"
                                                      ng-show="signUpForm.lastname.$error.required">LastName cannot be empty</span>
                                                <span class="help-block"
                                                      ng-show="signUpForm.lastname.$error.minlength">LastName must be more than 5 characters</span>
                                                <span class="help-block"
                                                      ng-show="signUpForm.lastname.$error.maxlength">Lasttname must not exceed 20 characters</span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group has-feedback"
                                         ng-class="{'has-error' : signUpForm.username.$touched && signUpForm.username.$invalid, 'has-success' : signUpForm.username.$touched &&  signUpForm.username.$valid}">
                                        <label for="signup.username" class="col-xs-2">Username</label>

                                        <div class="col-xs-10">
                                            <input name="username" ng-required="true" ng-minlength="5" ng-maxlength="20"
                                                   type="text" class="form-control" id="signup.username"
                                                   placeholder="Username" ng-model="newUser.username">

                                            <div ng-show="signUpForm.username.$touched">
                                                <span class="glyphicon glyphicon-ok form-control-feedback"
                                                      aria-hidden="true"
                                                      ng-show="signUpForm.username.$valid"></span>
                                                <span class="glyphicon glyphicon-remove form-control-feedback"
                                                      aria-hidden="true"
                                                      ng-show="signUpForm.username.$invalid"></span>
                                                <span class="sr-only">(success)</span>
                                                <span class="help-block"
                                                      ng-show="signUpForm.username.$error.required">UserName cannot be empty</span>
                                                <span class="help-block"
                                                      ng-show="signUpForm.username.$error.minlength">UserName must be more than 5 characters</span>
                                                <span class="help-block"
                                                      ng-show="signUpForm.username.$error.maxlength">UserName must not exceed 20 characters</span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group has-feedback"
                                         ng-class="{'has-error' : signUpForm.password.$touched && signUpForm.password.$invalid, 'has-success' : signUpForm.password.$touched && signUpForm.password.$valid}">
                                        <label for="signup.password" class="col-xs-2">Password</label>

                                        <div class="col-xs-10">
                                            <input name="password" ng-required="true" ng-minlength="8" ng-maxlength="20"
                                                   type="password" class="form-control" id="signup.password"
                                                   placeholder="Password" ng-model="newUser.password">

                                            <div ng-show="signUpForm.password.$touched">
                                                <span class="glyphicon glyphicon-ok form-control-feedback"
                                                      aria-hidden="true"
                                                      ng-show="signUpForm.password.$valid"></span>
                                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                                  aria-hidden="true"
                                                  ng-show="signUpForm.password.$invalid"></span>
                                                <span class="sr-only">(success)</span>
                                            <span class="help-block"
                                                  ng-show="signUpForm.password.$error.required">Password cannot be empty</span>
                                            <span class="help-block"
                                                  ng-show="signUpForm.password.$error.minlength">Password must be more than 5 characters</span>
                                            <span class="help-block"
                                                  ng-show="signUpForm.password.$error.maxlength">Password must not exceed 20 characters</span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group has-feedback"
                                         ng-class="{'has-error' : signUpForm.confirmPassword.$touched && signUpForm.confirmPassword.$invalid, 'has-success' : signUpForm.confirmPassword.$touched && signUpForm.confirmPassword.$valid}">
                                        <label for="signup.confirmPassword" class="col-xs-2">Confirm Password</label>

                                        <div class="col-xs-10">
                                            <input name="confirmPassword" ng-required="true"
                                                   type="password" class="form-control"
                                                   id="signup.confirmPassword" placeholder="Confirm Password"
                                                   ng-minlength="8"
                                                   ng-maxlength="20"
                                                   ng-model="newUser.confirmPassword"
                                                   confirm-password="newUser.password">

                                            <div ng-show="signUpForm.confirmPassword.$touched">
                                                <span class="glyphicon glyphicon-ok form-control-feedback"
                                                      aria-hidden="true"
                                                      ng-show="signUpForm.confirmPassword.$valid">
                                                </span>
                                                <span class="glyphicon glyphicon-remove form-control-feedback"
                                                      aria-hidden="true"
                                                      ng-show="signUpForm.confirmPassword.$invalid">
                                                </span>
                                                <span class="sr-only">(success)</span>
                                                <span class="help-block"
                                                      ng-show="signUpForm.confirmPassword.$error.required">Password cannot be empty</span>
                                                <span class="help-block"
                                                      ng-show="signUpForm.confirmPassword.$error.minlength">Password must be more than 5 characters</span>
                                                <span class="help-block"
                                                      ng-show="signUpForm.confirmPassword.$error.maxlength">Password must not exceed 20 characters</span>
                                                <span class="help-block"
                                                      ng-show="signUpForm.confirmPassword.$error.confirmPassword">Password does not match</span>
                                            </div>
                                            <!--<pre>{{signUpForm.confirmPassword.$error.confirmPassword}}</pre>-->
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback"
                                         ng-class="{'has-error' : signUpForm.email.$touched && signUpForm.email.$invalid, 'has-success' : signUpForm.email.$touched && signUpForm.email.$valid}">
                                        <label for="signup.email" class="col-xs-2">Email Address</label>

                                        <div class="col-xs-10">
                                            <input name="email" type="email" ng-required="true" required="true"
                                                   class="form-control" id="signup.email"
                                                   placeholder="Email Address" ng-model="newUser.email">

                                            <div ng-show="signUpForm.email.$touched">
                                                <span class="glyphicon glyphicon-ok form-control-feedback"
                                                      aria-hidden="true"
                                                      ng-show="signUpForm.email.$valid"></span>
                                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                                  aria-hidden="true"
                                                  ng-show="signUpForm.email.$invalid"></span>
                                                <span class="sr-only">(success)</span>
                                            <span class="help-block"
                                                  ng-show="signUpForm.email.$error.required">Email cannot be empty</span>
                                            <span class="help-block"
                                                  ng-show="signUpForm.email.$error.email">Invalid Email</span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group has-feedback"
                                         ng-class="{'has-error' : signUpForm.phoneNumber.$touched && signUpForm.phoneNumber.$invalid, 'has-success' : signUpForm.phoneNumber.$touched && signUpForm.phoneNumber.$valid}">
                                        <label for="signup.phoneNumber" class="col-xs-2">Phone Number</label>

                                        <div class="col-xs-10">
                                            <input name="phoneNumber" type="tel" class="form-control"
                                                   id="signup.phoneNumber" placeholder="Phone number here"
                                                   ng-model="newUser.phoneNumber"
                                                   ng-maxlength="11" ng-minlength="11" ng-pattern="phoneNumberRegex"
                                                   required="true" ng-required="true">

                                            <div ng-show="signUpForm.phoneNumber.$touched">
                                                <span class="glyphicon glyphicon-ok form-control-feedback"
                                                      aria-hidden="true"
                                                      ng-show="signUpForm.phoneNumber.$valid"></span>
                                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                                  aria-hidden="true"
                                                  ng-show="signUpForm.phoneNumber.$invalid"></span>
                                                <span class="sr-only">(success)</span>
                                            <span class="help-block"
                                                  ng-show="signUpForm.phoneNumber.$error.required">Phone number cannot be empty</span>
                                            <span class="help-block"
                                                  ng-show="signUpForm.phoneNumber.$invalid">Invalid Phone Number: Must be 11 digits</span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group has-feedback"
                                         ng-class="{'has-error' : signUpForm.stateCode.$touched && signUpForm.stateCode.$invalid, 'has-success' : signUpForm.stateCode.$touched && signUpForm.stateCode.$valid}">
                                        <label for="signup.stateCode" class="col-xs-2">State Code</label>

                                        <div class="col-xs-10">
                                            <input type="text" class="form-control" id="signup.stateCode"
                                                   placeholder="State Code" ng-model="newUser.stateCode"
                                                   ng-required="true" name="stateCode">

                                            <div ng-show="signUpForm.stateCode.$touched">
                                                <span class="glyphicon glyphicon-ok form-control-feedback"
                                                      aria-hidden="true"
                                                      ng-show="signUpForm.stateCode.$valid"></span>
                                                <span class="glyphicon glyphicon-remove form-control-feedback"
                                                      aria-hidden="true"
                                                      ng-show="signUpForm.stateCode.$invalid"></span>
                                                <span class="sr-only">(success)</span>
                                                <span class="help-block"
                                                      ng-show="signUpForm.stateCode.$error.required">State Code cannot be empty</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-inline" ng-form="locationDetails">
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <label for="signup.state">State</label>
                                                <select name="state" id="signup.state" class="form-control"
                                                        ng-model="newUser.state"
                                                        ng-options="state.name as state.name for state in states"
                                                        ng-required="true"
                                                        nig-states
                                                        nig-state="newUser.state">
                                                    <option value="" selected>Please select a State</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <label for="signup.lga">L.G.A</label>
                                                <select name="lga" id="signup.lga" class="form-control"
                                                        ng-model="newUser.lga"
                                                        ng-options="lga.name as lga.name for lga in lgas"
                                                        ng-required="true">
                                                    <option value="">Please select a LGA</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <label for="signup.town">Town</label>
                                                <select id="signup.town" class="form-control"
                                                        ng-model="newUser.town"
                                                        name="town"
                                                        ng-required="true">
                                                    <option value="">Please select a Town</option>
                                                    <!--still need to find an api for getting towns in an lga-->
                                                    <option value="amawbia">AMAWBIA</option>
                                                    <option value="unizik">UNIZIK</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- end col-xs-4 -->
                                        <div class="has-error"><p class="text-center">Please select all location
                                            options</p>
                                            <span class="help-block text-center text-danger"
                                                  ng-show="locationDetails.$touched && locationDetails.$invalid">Please select all location options</span>
                                        </div>
                                    </div>
                                    <!-- end form-inline -->
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary btn-block" ng-disabled="signUpForm.$invalid"
                                    id="signup-btn" ng-click="signUp()" ladda="signUpLoading" data-style="expand-right">Sign Up
                            </button>
                            <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- modal content and form controller end here-->
                </div>
            </div>
            <!-- End Sign Up Modal -->
        </div>
        <!-- end navbar collapse-->
    </div>
    <!-- nav fluid container -->
</nav><!-- end navbar -->
