<div class="container">
    <form class="form-signin" ng-submit="changePassword()" name="changePasswordForm">
        <h2 class="form-signin-heading">Please fiil details</h2>

        <label for="oldPassword" class="sr-only">Password</label>
        <input type="password" id="oldPassword" name="oldPassword" class="form-control" placeholder="Old Password"
               ng-required="true" autofocus
               ng-model="passwordChange.oldPassword">

        <label for="newPassword" class="sr-only">Password</label>
        <input type="password" id="newPassword" name="newPassword" class="form-control" placeholder="Password" required
               ng-model="passwordChange.newPassword">

        <label for="confirmPassword" class="sr-only">Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
               placeholder="Confirm Password" required confirm-password="passwordChange.newPassword"
               ng-model="passwordChange.confirmPassword">
        <span class="alert-danger" ng-show="changePasswordForm.confirmPassword.$error.confirmPassword">Password must match</span>

        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="changePasswordForm.$invalid"
                ladda="changePasswordLoading" data-style="expand-right">
            Change Password
        </button>
        <pre>{{passwordChange | json}}</pre>
    </form>
</div>