<div class="row">
    <div class="col-xs-3">
        <img class="thumbnail" id="reviewersImage" ng-src="{{reviewersImageURL}}" alt="reviewers picture" style="width : 150px; height: 150px"/>
    </div>
    <div class="col-xs-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" ng-show="userReviewMode.viewMode || viewReviewsMode">{{review.user.username ||
                    currentUser.username}} made this review on {{review.dateAdded | date : "medium"}}
                <span class="label label-default" ng-click="toggleUserReviewMode()" ng-hide="userReviewMode.editMode"
                      ng-if="!viewReviewsMode">
                    <span class="glyphicon glyphicon-pencil"></span>Edit</span>
                </h3>
            </div>
            <div class="panel-body">
                <div>
                    Rating :
                    <uib-rating ng-model="review.rating" data-readonly="!userReviewMode.editMode"
                                titles="['one star','two stars','three stars','four stars','five stars']"
                                aria-labelledby="default-rating"></uib-rating>
                </div>
                <textarea class="form-control" rows="3"
                          placeholder="Please write your review message (Important)" ng-model="review.reviewMessage"
                          name="reviewMessage" ng-show="userReviewMode.editMode">
                </textarea>

                <div class="form-group" ng-show="viewReviewsMode || userReviewMode.viewMode">
                    <label class="col-md-3 control-label">Message:</label>

                    <div class="col-md-9">
                        <p class="form-control-static lead">{{review.reviewMessage}}</p>
                    </div>
                </div>
            </div>
            <div class="panel-footer" ng-show="userReviewMode.editMode" ng-if="userReviewMode">
                <!--this would be shown for a review that belongs to the logged in user when the user clicks edit-->
                <!--reviews that don't belong to the logged in user would not have both the edit pencil and this footer-->
                <!--this footer is to contain the update and and cancel button to toggle update and view state of the review-->
                <button class="btn btn-default" ng-click="toggleUserReviewMode()" ng-hide="!review.place">Cancel
                </button>
                <!-- this returns user to readUserReviewMode state -->
                <button class="btn btn-success" ng-disabled="!review.reviewMessage"
                        ng-click="updateReview(review)" ng-hide="!review.place" ladda="updateReviewLoading"
                        data-style="extend-right">
                    Update Review
                </button>
                <!-- alert box shows and user returns to readUserReviewMode state -->
                <button class="btn btn-primary" ng-disabled="!review.reviewMessage"
                        ng-click="addReview(review)" ng-show="!review.place" ladda="addReviewLoading"
                        data-style="extend-right">
                    Add Review
                </button>
            </div>
        </div>
    </div>
</div>

