<head ng-cloak>
    <!-- Website title & description for search engines -->
    <title ng-bind="title"></title>

    <meta charset="utf-8">

    <meta name = "description" content="">

    <!-- Mobile viewpoint optimized -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <style>
        [ng-cloak] {
            display: none;
        }
    </style>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">

    <!--General CSS-->
    <link rel="stylesheet" href="css/app.css"/>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" ng-href="css/{{style}}">

    <!-- Ladda Buttons Styles -->
    <link rel="stylesheet" href="lib/ladda/dist/ladda-themeless.min.css"/>

    <!--&lt;!&ndash; Custom CSS &ndash;&gt;-->
    <!--<link rel="stylesheet" type="text/css" ng-href="css/{{style}}">-->

    <!-- Include Modernizr before any other js -->
    <script src="lib/modernizr-2.6.2.min.js"></script>
</head>